node_modules
public/*
dist
!public/.gitkeep
.env
.env.test

package-lock.json
yarn.lock
yarn-error.log

/src/utils/key.json
/src/config/sentry.js

# Ignore test-related files
/coverage.data
/coverage/
